<div id="blog-modal"
    class="custom-modal-overlay hidden-force fixed inset-0 z-[11] flex items-center justify-center p-4 sm:p-10">
    <div class="absolute inset-0 bg-black/80 backdrop-blur-sm" onclick="closeBlogModal()"></div>

    <div
        class="custom-modal-content mt-[40px] relative bg-[#0a0a0a] w-[75%] max-w-4xl h-[92vh] rounded-2xl border border-white/10 shadow-2xl flex flex-col overflow-hidden">

        <button onclick="closeBlogModal()"
            class="absolute top-4 right-4 z-20 p-2 rounded-full bg-black/50 hover:bg-red-500 text-white transition border border-white/10 backdrop-blur-md group">
            <i data-lucide="x" class="w-5 h-5 group-hover:rotate-90 transition-transform"></i>
        </button>

        <div class="h-[300px] shrink-0 relative overflow-hidden bg-[#111]">
            <div class="absolute inset-0 bg-gradient-to-t from-[#0a0a0a] via-transparent to-transparent z-10">
            </div>
            <img id="modal-image" src="" class="w-full h-full object-cover opacity-80" style="display: none;">
            <div id="modal-fallback" class="artistic-fallback absolute inset-0 w-full h-full hidden">
                <i data-lucide="layout" class="watermark-icon" style="width: 200px; height: 200px; opacity: 0.05;"></i>
            </div>
            <div class="absolute bottom-0 left-0 p-8 z-20 w-full top-[145px]">
                <div id="modal-tag"
                    class="text-[10px] font-bold text-black bg-yellow-500 px-3 py-1 rounded uppercase mb-3 inline-block shadow-lg contents gap-2">
                    TAG</div>
                <h1 id="modal-title" class="text-2xl md:text-3xl font-black text-white leading-tight drop-shadow-lg">
                    Título</h1>
                <div class="flex items-center gap-3 mt-3 text-xs font-mono text-gray-300">
                    <span class="flex items-center gap-1"><i data-lucide="calendar" class="w-3 h-3"></i> <span
                            id="modal-date">Data</span></span>
                    <span class="w-1 h-1 rounded-full bg-gray-500"></span>
                    <span class="flex items-center gap-1"><i data-lucide="user" class="w-3 h-3"></i> <span
                            id="modal-author">Admin</span></span>
                </div>
            </div>
        </div>

        <div class="flex-1 overflow-y-auto p-8 custom-scrollbar bg-[#0a0a0a]">
            <div id="modal-contentads" class="text-gray-300"></div>
        </div>
    </div>
</div>