<div id="modal-delete-account" 
     class="fixed inset-0 z-[150] bg-black/90 flex items-center justify-center hidden opacity-0 transition-all duration-300 select-none">
    
    <div class="relative bg-[#0f0f10] border border-white/10 p-8 rounded-[2rem] w-96 shadow-2xl transform scale-95 transition-all duration-300 group overflow-hidden" id="modal-delete-content">
        
        <div class="relative z-10 flex flex-col items-center text-center">
            
            <div class="w-16 h-16 bg-red-500/10 rounded-2xl flex items-center justify-center mb-6 border border-red-500/20 shadow-[0_0_15px_rgba(239,68,68,0.2)]">
                <i data-lucide="trash-2" class="w-8 h-8 text-red-500"></i>
            </div>

            <h3 class="text-2xl font-black text-white mb-2 tracking-tight" data-tr="vdefdfsvefr234t">Remover Conta?</h3>
            
            <p class="text-sm text-zinc-400 mb-6 leading-relaxed" data-tr="vdeff43frr234t">
                Você tem certeza que deseja remover a conta <br>
                <span id="delete-target-name" class="text-white font-bold bg-white/5 px-2 py-0.5 rounded text-xs mx-1">...</span> ?
                <br><span class="text-xs text-red-400/80 mt-1 block">Essa ação não pode ser desfeita.</span>
            </p>

            <div class="flex gap-3 w-full">
                <button id="btn-cancel-delete" 
                    class="flex-1 py-3.5 rounded-xl bg-white/5 hover:bg-white/10 text-zinc-400 hover:text-white text-xs font-bold uppercase tracking-wider transition-all border border-transparent hover:border-white/5" data-tr="vdeffgh45y34yr234t">
                    Cancelar
                </button>
                
                <button id="btn-confirm-delete" 
                    class="flex-1 py-3.5 rounded-xl bg-red-600 hover:bg-red-500 text-white text-xs font-bold uppercase tracking-wider transition-all shadow-[0_0_20px_rgba(220,38,38,0.3)] hover:shadow-[0_0_30px_rgba(220,38,38,0.5)] active:scale-95 flex items-center justify-center gap-2" data-tr="vdefdfg34fr234t">
                    <i data-lucide="trash" class="w-3.5 h-3.5"></i> Remover
                </button>
            </div>
        </div>
    </div>
</div>