<div id="modal-loadPage"
    class="modal-visible absolute inset-0 z-[100] bg-[#000] backdrop-blur-sm flex flex-col items-center justify-center transition-all duration-500 ease-in-out no-drag text-white font-mono select-none z-[999]">

    <span class="loader mb-4"></span>

    <div class="flex flex-col items-center gap-2">
        <h2 class="text-xl font-bold tracking-widest uppercase text-shadow-sm">Carregando</h2>
        <span class="text-xs text-gray-400 animate-pulse">Aguarde...</span>
    </div>
</div>